---
import { Image } from "astro:assets";
import type { ComponentProps } from "astro/types";
import MemotIconColor from "~/assets/brand/memot-app-icon.png";
import { SITE } from "~/constants/metadata";
import Link from "../Link/Link.astro";

interface Props extends ComponentProps<typeof Link> {}

const { class: className, ...props } = Astro.props;
---

<div class:list={[className]} {...props}>
  <Image
    class="size-full"
    src={MemotIconColor}
    alt="めもっとのアイコン。にっこりと微笑む薄緑色のスライムのようなキャラクターが描かれています。"
    inferSize
  />
</div>
