---
import type { HTMLAttributes } from "astro/types";

interface Props extends HTMLAttributes<"li"> {
  number: number;
  maxNumberLength?: number;
}

const { number, maxNumberLength = 2, class: className, ...props } = Astro.props;

const zeroPaddedNumber = String(number).padStart(maxNumberLength, "0");
---

<li
  class:list={[
    "flex items-center justify-between gap-x-[14px] outline-[3px] outline-border-primary rounded-3.5xl h-[116px] px-[25px]",
    className,
  ]}
  {...props}
>
  <span class="text-4xl font-bold text-text-primary">{zeroPaddedNumber}</span>
  <p class="text-2xl font-bold text-text-primary">
    <slot />
  </p>
</li>
