@import "tailwindcss";

@theme {
  --color-bglp: #F7F4F2; 
  --color-base-text: #2B2B2B; 
  --color-primary: #5db53e;
}


:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-noto-sans-jp), sans-serif;
}
